
@import "../../../../variables";

.card {
  margin-top: 20px;
}

button.date-picker-image img{
  width: 1.2rem;
  height: 1rem;
  cursor: pointer;
}

.userSiteSelect{
  margin: 0 30px 0 0;
}

.userGroupSelect, .userSiteSelect {
  width: 155px;
}

.table-striped.table{
  border-color: #fff;
  border-spacing: 10px;
}

.reportForm{
  background-color: #fafafa;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 50px;
}
.modal-header {border-bottom:0}
.hint-text{
  color: map-get($colors, grey);
}
.form-group{
  margin-bottom: 1.5rem;
  //display: inline-block;
  .form-control, .input-group-addon{
    border: 1px solid darkgray;
  }
  .input-group-addon{
    border-left:0;
  }
}

.alert-danger {
  font-size: 0.9rem;
  padding: 0.7rem;
}

/* CSS talk bubble */
.talk-bubble {
  margin: 0 0 21px 20px;
  display: inline-block;
  position: relative;
  background-color: paleturquoise;
  width:98%;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: paleturquoise transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: lightgreen transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.answerTalkText{
  background-color: lightgreen;
  width: 97%;
}
.commentsCreator, .answerCreator{
  border-bottom: 1px solid lightcyan;
  padding-bottom: 18px;
  .fa-user-circle-o, .fa-paperclip, .fa-commenting-o{
    font-size: 1.5em;
    cursor: pointer;
  }
  .editTools .fa{
    font-size: 1.5em;
    margin-right: 5px;
    cursor: pointer;
  }
}
.reportIcons {
  padding: 5px;
  background-color: #ededed;
}
.fault, .bug, .activity, .ofd, .fuel {
  position: relative;
  top: 3px;
  font-size: 1.5em;
}
.fault:before {
    content: "\f14e";
    font-family: FontAwesome;
    color: mediumseagreen;
}
.bug:before {
  content: "\f188";
  font-family: FontAwesome;
  color: purple;
}
.activity:before {
  content: "\f00c";
  font-family: FontAwesome;
  color: orange;
}
.ofd:before {
  content: "\f129 ";
  font-family: FontAwesome;
  color: red;
}
.fuel:before {
  content: "\f0d1 ";
  font-family: FontAwesome;
  color: blue;
}
.addEnergy, .removeEnergy{
  cursor: pointer;
}

.energryTable {
  border: 1px solid lightgray;
  padding: 0;
}

.hidden-file-input{
  display: none;
}
