.toggleTableRow{cursor: pointer;}
.subRow {padding: 0.8rem 0;}
.clockwise, .anti-clockwise{
  width:49%;
  font-size: 0.85em;
  .table{
    font-size: 0.85em;
    .form-control {
      width: 82%;
    }
  }
}
.anti-clockwise { border-left:1px solid lightgrey; padding-left: 10px;}
.userSelection { border-top:1px solid lightgrey; padding-top: 0.5em; margin-top: 0.5em }
