<table class="table procedure-list-table">
  <thead>
    <tr>
      <th>Line No.</th>
      <th>Type</th>
      <th>Name</th>
      <th>Category</th>
      <th>Level</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of procedure.lines | createProcedureList">
      <th>{{ line.lineNo }}</th>
      <td>
        <tm-entity-type-badge [type]="line.type"></tm-entity-type-badge>
      </td>
      <td>{{ line.name }}</td>
      <td>{{ line.category }}</td>
      <td>{{ line.level }}</td>
    </tr>
  </tbody>
</table>
