@import "variables";

.table-component {
  overflow: auto;

  .table {
    thead th {
      vertical-align: top;
    }

    th a.sorter {
      white-space: normal;
    }

    td {
      padding-left: 1rem;
      font-size: 0.9rem;
      div {
        white-space: nowrap;
        max-width: 10em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .rowGroup:nth-child(even) {
     //display: none;
    }

  }

  .sorter {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  tr.active-row {
    background-color: $table-row-active-bg;
    color: $table-row-active-color;
  }

  .table-pagination {
    border-top: 1px solid #eeeeee;

    select{
      font-size: 0.8rem;
      padding: 0.5rem;
    }
  }
}



