.attachment{ cursor: pointer;}
button.date-picker-image img{
  width: 1.2rem;
  height: 1rem;
  cursor: pointer;
}

.hint-text{
  color: #868e96;
  display: block;
}
.time-bg {
  background-color: #b3b4b5;
  border-radius: 0.90rem;
}
