@import "../../../../../variables";

.line-number {
  padding: 0 10px;
}

.expander {
  display: inline-block;
  width: 20px;
}

.badge {
  width: 75px;
  text-align: center;
}

.checked {
  background-color: lighten(map_get($theme-colors, primary), 40);
}

.line-details {
  font-size: .7rem;
  margin-left: 10px;
}
